<div class="jumbotron">
  <h1><%= link_to "«", meal_path(@recipe.meal_id) %> <%= @recipe.name %></h1>
  <i>The recipe for <%= @recipe.meal.name %></i>
  <div class="btn-group pull-right" role="group" aria-label="Basic example">
    <%= link_to edit_recipe_path(@recipe.id), method: :get, class: "btn btn-primary btn-lg" do %>
      <span class="glyphicon glyphicon-edit"></span>  Modify
    <% end %>
    <%= link_to recipe_path(@recipe.id), method: :delete, class: "btn btn-danger btn-lg" do %>
     <span class="glyphicon glyphicon-trash"></span> Delete Meal</a>
   <% end %>
   <% if @recipe.recipe_ingredients.count == 0 %>
     <div class="btn-group pull-right" role="group" width="100%" aria-label="Basic example">
       <%= link_to new_recipe_ingredient_path(@recipe.id), method: :get, class: "btn btn-success btn-lg" do %>
         <span class="glyphicon glyphicon-pencil"></span> Add Ingredient</a>
       <% end %>
     </div>
   <% end %>
  </div>
  <%= @recipe.description %>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Add Ingredient
  </div>
  <div class="panel-body">
    <%= form_for @recipe_ingredient do |f| %>
        <table style="width: 100%">
          <thead>
            <th>Ingredient</th>
            <th>Amount</th>
            <th>Measure</th>
            <th>Allergens</th>
            <th>Optional</th>
          </thead>
          <tbody>
            <tr>
              <td>
                <select id="ingredient_id" style="width: 100%"></select><br />
              </td>
              <td>
                <%= f.number_field :quantity %>
              </td>
              <td>
                <select id="measure">
                  <option value="g">grams</option>
                  <option value="mg">miligrams</option>
                  <option value="l">litres</option>
                  <option value="ml">mililitres</option>
                </select>
              </td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                    <span class="glyphicon glyphicon-grain"></span>
                  <span class="caret"></span></button>
                  <ul class="dropdown-menu">
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Celery
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Cereal
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Crustacean
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Egg
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Fish
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Lupin
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Milk
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Mollusc
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Mustard
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Nut
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Peanut
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Sesame
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Soya
                    </li>
                    <li>
                      <input type="checkbox" name="optional" class="custom-control-input">Sulphites
                    </li>
                  </ul>
                </div>
              </td>
              <td>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input">
                  <span class="custom-control-indicator"></span>
                  <span class="custom-control-description"></span>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      <%= f.submit %>
    <% end %>
  </div>
</div>

<% if @recipe.recipe_ingredients.count != 0 %>
  <% @recipe.recipe_ingredients.each do |ingredient| %>
    <div class="panel-group" id="accordion">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                  <b>Ingredients</b></span>
                  <div class="btn-group pull-right" role="group" width="100%" aria-label="Basic example">
                    <%= link_to recipe_path(ingredient.id), method: :get, class: "btn btn-success btn-xs" do %>
                      <span class="glyphicon glyphicon-edit"></span> Manage
                    <% end %>
                    <%= link_to recipe_path(ingredient.id), method: :delete, class: "btn btn-danger btn-xs" do %>
                      <span class="glyphicon glyphicon-edit"></span> Delete
                    <% end %>
                  </div>
                </td>
                </a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <table class="table">
                  <thead>
                    <td>Name</td>
                    <td>Description</td>
                    <td></td>
                  </thead>
                  <tr>
                    <td>xox</td>
                    <td>xox</td>
                    <td>
                    </td>
                  </tr>
                </div>
              </div>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
