<div class="panel panel-default">
  <div class="panel-heading">
    Edit
  </div>
<div class="panel-body">
  <%= form_for @meal do |f| %>
    <%= f.label :name %>:
    <%= f.text_field :name, class: "form-control" %><br />

    <%= f.label :description %>:
    <%= f.text_field :description, class: "form-control" %><br />

    <%= f.label :price %>:
    <%= f.number_field :price, class: "form-control", step: :any%><br />

    <%= f.submit %>
  <% end %>
</div>
